# Pandas Tutorial

## Install Libraries

In [ ]:
#pip install numpy

In [ ]:
#pip install pandas

- Import Libraries

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Object creation
s=pd.Series([1,5,6,8,np.nan,9,2])
s

In [ ]:
dates=pd.date_range("20220601", periods=7)
dates

In [ ]:
dates=pd.date_range("20220601", periods=20)
dates
df=pd.DataFrame(np.random.randn(20,4),index=dates,columns=list("Dani"))
df

In [ ]:
df2 = pd.DataFrame(
{
"A": 1.0,
 "B": pd.Timestamp("20130102"),
"C": pd.Series(1, index=list(range(4)), dtype="float32"),
 "D": np.array([4] * 4, dtype="int32"),
 "E": pd.Categorical(["test", "train", "test", "train"]),
 "F": "foo",
}
 )
df2

In [ ]:
df2.dtypes

In [ ]:
df.head(3)

In [ ]:
df.tail(2)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.to_numpy()

In [ ]:
df2.to_numpy()

In [ ]:
df.describe()

# Transpose

In [ ]:
df.T

In [ ]:
df.sort_index(axis=1, ascending=True)

In [ ]:
df.sort_values(by="a")

# Selection

In [ ]:
df["a"]

In [ ]:
df[0:3]

In [ ]:
df["20220602":"20220604"]

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:,["D", "n"]]

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc["20220602":"20220604", ["D", "n"]]

In [ ]:
df.loc["20220602", ["n", "i"]]

In [ ]:
df.loc[dates[0], "D"]

# Selection by position

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5, 0:2]

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

In [ ]:
df.iloc[1:3, :]

In [ ]:
df.iloc[:,1:3]

# Boolean indexing

In [ ]:
df[df["D"] > 0]

In [ ]:
df[df>0]

## Adding a new column

In [ ]:
df2 = df.copy()
df2["E"]= ["one", "one", "two", "three", "four", "three","one", "one", "two", "three", "four", "three",
"one", "one", "two", "three", "four", "three", "four", "three"]
df2

In [ ]:
df2[df2["E"].isin(["three", "four"])]

In [83]:
df2["mean"]=df2["D"]+df2["a"]+df2["n"]+df2["i"]

In [84]:
df2

                   D         a         n         i      E      mean
2022-06-01  2.691150 -0.799584 -0.006665 -0.213619    one  1.671282
2022-06-02 -0.382800  0.345086  0.031897 -1.397911    one -1.403727
2022-06-03 -0.664103 -0.242103  0.699021  0.789342    two  0.582156
2022-06-04  0.478330 -0.944154  0.444431 -2.038578  three -2.059971
2022-06-05  0.274297 -0.218452 -1.899213  0.478669   four -1.364698
2022-06-06 -1.718016  0.534435 -0.433934 -1.676472  three -3.293987
2022-06-07 -1.229756  0.119815 -0.048030  1.050291    one -0.107681
2022-06-08 -0.956591 -1.855219  1.062073  0.818026    one -0.931712
2022-06-09 -0.550435 -3.789493  0.684897  1.128579    two -2.526453
2022-06-10 -0.325794 -0.073448 -0.546654  0.247143  three -0.698752
2022-06-11  0.376035  0.692786  1.667958  0.841878   four  3.578656
2022-06-12  0.643280  0.527941  0.930232 -0.856604  three  1.244849
2022-06-13  0.712780  1.588109  1.290664 -0.955058    one  2.636496
2022-06-14 -0.803889  2.659576  0.069580 -0.077219    one  1.848048
2022-06-15  0.242065 -0.714197  0.578414 -1.113600    two -1.007318
2022-06-16  0.542873  0.125432  0.205595  0.673962  three  1.547861
2022-06-17  0.497725 -0.588335  0.967767 -1.435469   four -0.558311
2022-06-18 -0.851075 -0.386079 -0.855703  0.977802  three -1.115055
2022-06-19  0.671315 -0.894485  0.406975  0.506932   four  0.690737
2022-06-20 -1.440393 -1.913303 -1.535123  0.368159  three -4.520659

In [85]:
df2["avg"]=df2.mean(axis=1)

C:\Users\dania\AppData\Local\Temp\ipykernel_11200\2633445512.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2["avg"]=df2.mean(axis=1)

In [86]:
df2

                   D         a         n         i      E      mean       avg
2022-06-01  2.691150 -0.799584 -0.006665 -0.213619    one  1.671282  0.668513
2022-06-02 -0.382800  0.345086  0.031897 -1.397911    one -1.403727 -0.561491
2022-06-03 -0.664103 -0.242103  0.699021  0.789342    two  0.582156  0.232862
2022-06-04  0.478330 -0.944154  0.444431 -2.038578  three -2.059971 -0.823988
2022-06-05  0.274297 -0.218452 -1.899213  0.478669   four -1.364698 -0.545879
2022-06-06 -1.718016  0.534435 -0.433934 -1.676472  three -3.293987 -1.317595
2022-06-07 -1.229756  0.119815 -0.048030  1.050291    one -0.107681 -0.043073
2022-06-08 -0.956591 -1.855219  1.062073  0.818026    one -0.931712 -0.372685
2022-06-09 -0.550435 -3.789493  0.684897  1.128579    two -2.526453 -1.010581
2022-06-10 -0.325794 -0.073448 -0.546654  0.247143  three -0.698752 -0.279501
2022-06-11  0.376035  0.692786  1.667958  0.841878   four  3.578656  1.431462
2022-06-12  0.643280  0.527941  0.930232 -0.856604  three  1.244849  0.497940
2022-06-13  0.712780  1.588109  1.290664 -0.955058    one  2.636496  1.054598
2022-06-14 -0.803889  2.659576  0.069580 -0.077219    one  1.848048  0.739219
2022-06-15  0.242065 -0.714197  0.578414 -1.113600    two -1.007318 -0.402927
2022-06-16  0.542873  0.125432  0.205595  0.673962  three  1.547861  0.619145
2022-06-17  0.497725 -0.588335  0.967767 -1.435469   four -0.558311 -0.223324
2022-06-18 -0.851075 -0.386079 -0.855703  0.977802  three -1.115055 -0.446022
2022-06-19  0.671315 -0.894485  0.406975  0.506932   four  0.690737  0.276295
2022-06-20 -1.440393 -1.913303 -1.535123  0.368159  three -4.520659 -1.808264

In [93]:
df2["Avg of D and a"]=df2[["D","a"]].mean(axis=1)

In [91]:
del df2["Avg pf D and a"]

In [94]:
df2

,D,a,n,i,E,mean,avg,Avg of D and a
2022-06-01,2.691150,-0.799584,-0.006665,-0.213619,one,1.671282,0.668513,0.945783
2022-06-02,-0.382800,0.345086,0.031897,-1.397911,one,-1.403727,-0.561491,-0.018857
2022-06-03,-0.664103,-0.242103,0.699021,0.789342,two,0.582156,0.232862,-0.453103
2022-06-04,0.478330,-0.944154,0.444431,-2.038578,three,-2.059971,-0.823988,-0.232912
2022-06-05,0.274297,-0.218452,-1.899213,0.478669,four,-1.364698,-0.545879,0.027923
2022-06-06,-1.718016,0.534435,-0.433934,-1.676472,three,-3.293987,-1.317595,-0.591791
2022-06-07,-1.229756,0.119815,-0.048030,1.050291,one,-0.107681,-0.043073,-0.554971
2022-06-08,-0.956591,-1.855219,1.062073,0.818026,one,-0.931712,-0.372685,-1.405905
2022-06-09,-0.550435,-3.789493,0.684897,1.128579,two,-2.526453,-1.010581,-2.169964
2022-06-10,-0.325794,-0.073448,-0.546654,0.247143,three,-0.698752,-0.279501,-0.199621
2022-06-11,0.376035,0.692786,1.667958,0.841878,four,3.578656,1.431462,0.534410
2022-06-12,0.643280,0.527941,0.930232,-0.856604,three,1.244849,0.497940,0.585610
2022-06-13,0.712780,1.588109,1.290664,-0.955058,one,2.636496,1.054598,1.150445
2022-06-14,-0.803889,2.659576,0.069580,-0.077219,one,1.848048,0.739219,0.927844
2022-06-15,0.242065,-0.714197,0.578414,-1.113600,two,-1.007318,-0.402927,-0.236066
2022-06-16,0.542873,0.125432,0.205595,0.673962,three,1.547861,0.619145,0.334152
2022-06-17,0.497725,-0.588335,0.967767,-1.435469,four,-0.558311,-0.223324,-0.045305
2022-06-18,-0.851075,-0.386079,-0.855703,0.977802,three,-1.115055,-0.446022,-0.618577
2022-06-19,0.671315,-0.894485,0.406975,0.506932,four,0.690737,0.276295,-0.111585
2022-06-20,-1.440393,-1.913303,-1.535123,0.368159,three,-4.520659,-1.808264,-1.676848